
---
import { SITE } from "../lib/site";
---

<header>
  <a href="/">{SITE.title}</a>

  <nav>
    {
      SITE.menu.map((item) => (
        <a href={item.url}>{item.name}</a>
      ))
    }
  </nav>
</header>

<style>
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem;
  border-bottom:1px solid #ddd;
}
nav{
  display:flex;
  gap:1rem;
}
a{
  text-decoration:none;
  color:#111;
}
</style>
